---
layout: base
---
    <!-- Intro Section -->
    <section class="intro" id="intro">
        <div class="intro-text">
            <h1>Streamline Your Science, Automate Your Workflow.</h1>
            <p>From liquid handlers to integrated lab systems, we create custom automation solutions that save time, reduce costs, and empower your team to focus on discovery.</p>
        </div>
        <div class="intro-image">
            <img src="{{ '/assets/images/robopipes.png' | relative_url }}" alt="RoboDrop working">
        </div>
    </section>

    <hr> <!-- Horizontal line -->

    <section class="customer" id="customer">
        <div class="customer-content">
            <p>We work with small and medium sized labs—academic and industry—seeking to scale operations and streamline workflows.</p>
            
            <h2>For the lab that needs:</h2>
            <ul>
                <li><input type="checkbox" disabled> Seamless integration of lab instruments and data platforms.</li>
                <li><input type="checkbox" disabled> Expert guidance on the best automation solutions.</li>
                <li><input type="checkbox" disabled> Flexible, on-demand support without long-term commitments.</li>
            </ul>
        </div>
    </section>

    <hr> <!-- Horizontal line -->

    <!-- Services Section -->
    <section class="services" id="services">
        <h2>Services</h2>
        <div class="services-grid">
            <!-- Service 1 -->
            <div class="service-item">
                <img src="{{ '/assets/images/robot_dispenser.png' | relative_url }}" alt="Automation">
                <h3>Automation</h3>
                <p>Fast, reliable solutions using best practices to increase reliability and throughput.</p>
            </div>
            <!-- Service 2 -->
            <div class="service-item">
                <img src="{{ '/assets/images/robot_integrations.png' | relative_url }}" alt="Integrations">
                <h3>Integrations</h3>
                <p>Seamless integrations to pipe output data to downstream instruments or ELIM database.</p>
            </div>
            <!-- Service 3 -->
            <div class="service-item">
                <img src="{{ '/assets/images/robot_video.png' | relative_url }}" alt="Consultation">
                <h3>Consultation</h3>
                <p>Vendor agnostic approach to find the best solutions for your price range</p>
            </div>
        </div>
    </section>
    <section class="experience-section" id="experience">
        <h2>Experienced development with</h2>
        <div class="logo-grid">
            <!-- Row 1 -->
            <div class="logo-item"><img src="{{ '/assets/images/agilent.png' | relative_url }}" alt="Agilent"></div>
            <div class="logo-item"><img src="{{ '/assets/images/beckmancoulter.png' | relative_url }}" alt="Beckman Coulter"></div>
            <div class="logo-item"><img src="{{ '/assets/images/formulatrix.png' | relative_url }}" alt="Formulatrix"></div>
            <!-- Row 2 -->
            <div class="logo-item"><img src="{{ '/assets/images/hamilton_copy.png' | relative_url }}" alt="Hamilton"></div>
            <div class="logo-item"><img src="{{ '/assets/images/opentrons.png' | relative_url }}" alt="Opentrons"></div>
            <div class="logo-item"><img src="{{ '/assets/images/spt_labtech.png' | relative_url }}" alt="SPT Labtech"></div>
            <!-- Row 3 -->
            <div class="logo-item"><img src="{{ '/assets/images/tecan.png' | relative_url }}" alt="Tecan"></div>
            <div class="logo-item"><img src="{{ '/assets/images/benchling.png' | relative_url }}" alt="Benchling"></div>
            <div class="logo-item"><img src="{{ '/assets/images/gcp.png' | relative_url }}" alt="GCP"></div>
            <!-- Row 4 -->
            <div class="logo-item"><img src="{{ '/assets/images/illumina.png' | relative_url }}" alt="Illumina"></div>
            <div class="logo-item"><img src="{{ '/assets/images/oxford_nanopore.png' | relative_url }}" alt="Oxford Nanopore"></div>
            <div class="logo-item"><img src="{{ '/assets/images/thermofisher.png' | relative_url }}" alt="Thermo Fisher"></div>
        </div>
        <p class="closing-statement">and much more!</p>
    </section>
    <hr> <!-- Horizontal line -->

    <!-- News Section -->
    <section class="home-latest-posts">
        <h2>Latest Posts</h2>
        <br>
        <div class="news-grid">
            {% for post in site.posts limit:3 %}
            <a href="{{ post.url | relative_url }}" class="news-preview">
                {% if post.featured_image %}
                <div class="news-image">
                    <img src="{{ post.featured_image | relative_url }}" alt="post image">
                </div>
                {% endif %}
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt | truncatewords: 30 }}</p>
            </a>
            {% endfor %}
        </div>
        <a href="{{ '/news/' | relative_url }}" class="news-section-link">View all news</a>
    </section>